---
- name: Ensure PostgreSQL is ready
  ansible.builtin.service:
    name: postgresql
    state: started
    enabled: true
  become: true

- name: Create PostgreSQL database
  community.postgresql.postgresql_db:
    name: "{{ peering_manager_database }}"
  become: true
  become_user: "{{ peering_manager_postgresql_user }}"

- name: Create PostgreSQL user
  community.postgresql.postgresql_user:
    name: "{{ peering_manager_database_user }}"
    password: "{{ peering_manager_database_password }}"
    encrypted: true
    login_db: "{{ peering_manager_database }}"
  no_log: true
  become: true
  become_user: "{{ peering_manager_postgresql_user }}"

- name: Set PostgreSQL user as owner of database
  community.postgresql.postgresql_owner:
    login_db: "{{ peering_manager_database }}"
    new_owner: "{{ peering_manager_database_user }}"
  become: true
  become_user: "{{ peering_manager_postgresql_user }}"

- name: Grant ALL privileges to PostgreSQL user
  community.postgresql.postgresql_privs:
    login_db: "{{ peering_manager_database }}"
    privs: ALL
    type: schema
    objs: public
    role: "{{ peering_manager_database_user }}"
  become: true
  become_user: "{{ peering_manager_postgresql_user }}"

- name: Ensure Redis is ready
  ansible.builtin.service:
    name: "{{ peering_manager_redis_service }}"
    state: started
  become: true
